body{
    background: conic-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29kZXJ8ZW58MHx8MHx8fDA%3D&w=1000&q=80") repeat center/cover fixed;
    background-attachment: fixed;
    font-family: 'poppins',sans-serif;
}
.container{
    height: 100vh;
    color: rgb(0, 151, 245);
    font-size:20px;
    display: flex;
    justify-content: center;    
    align-items: center;
}
#form{
    width: 450px;
    /*margin: 20vh auto 0 auto;*/
    margin-left: 40px;
    background-color: white;
    border-radius: 35px;
    padding: 20px;
}
h1{
    text-align: center;
    color: blue;
}
#form button{
    background-color: rgb(54, 54, 250);
    color: #fff;
    border:1px solid rgb(54, 54, 250) ;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0 ;
    cursor: pointer;
    font-size: 20px;
    width:100%;
}
#form button:hover{
    background-color: rgb(17, 196, 250);
    border-color: rgb(17, 196, 250);
}
.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid rgb(17, 196, 250);
}
.input-group input:focus{
    outline: 0;
}
.input-group .error{
    color: rgb(242, 18 , 18);
    font-size: 16px;
    margin-top: 5px;
}
.input-group.success  input{
    border-color: #09b82f;
}
.input-group.error input{
    border-color: (242, 18 , 18) ;
}